<div class="company-tables">
    <div class="row">
  <div class="col-md-12">
        <div class="main-content">
      <div class="form-group">
            <div class="row">
         
          <div class="col-sm-3">
                <label>CompanyId </label>
                <input type="text" id="search_input_all"   class="form-control">
              </div>


              <div class="col-sm-3">
                  <label>CompanyName </label>
                  <input type="text" id="search_input_all"   class="form-control">
                </div>

                <div class="col-sm-3">
                    <label>Email </label>
                    <input type="text" id="search_input_all"   class="form-control">
                  </div>
        
          <div class="col-sm-3 buttons m-t33"> <a class="btn dark-blue" href="#">Search</a> <a class="btn" href="#">Back</a> </div>
        </div>
          </div>
    </div>
      </div>
  <div class="col-md-12">
        <div class="main-content">
      <div class="top-header">
            <h3>Registred Company(s)</h3>
           
          </div>
      <table class="table table-class user-table" id="table-id">
            <thead>
        <th>Row</th>
          <th>CompanyId</th>
          <th>Company Name</th>
          <th>Email</th>
          <th>NoOfLicenseSite</th>
          <th>ValidFrom</th>
          <th>ValidTo</th>          
          <th>Action</th>
            </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>karanveer</td>
            <td>Tab</td>
            <td>30/04/2019 6:02 AM</td>
            <td>30.6759</td>
            <td>76.7406</td> 
  <td>Address not found</td>
  
              <td><a class="btn dark-blue" href="">ViewProfile</a><a class="btn" href="">Support</a></td>
            
          </tr>
          <tr>
            <td>1</td>
            <td>karanveer</td>
            <td>Tab</td>
            <td>30/04/2019 6:02 AM</td>
            <td>30.6759</td>
            <td>76.7406</td> 
  <td>Address not found</td>
  <td>Too Cold</td>
  <td>Awesome</td> 
  <td>bedroom1</td>
             <td><a class="btn dark-blue" href="">ViewProfile</a><a class="btn" href="">Support</a></td>
          </tr>
          <tr>
           <td>1</td>
            <td>karanveer</td>
            <td>Tab</td>
            <td>30/04/2019 6:02 AM</td>
            <td>30.6759</td>
            <td>76.7406</td> 
  <td>Address not found</td>
  <td>Too Cold</td>
  <td>Awesome</td> 
  <td>bedroom1</td>
            <td><a class="btn dark-blue" href="">ViewProfile</a><a class="btn" href="">Support</a></td>
          </tr>
          <tr>
           <td>1</td>
            <td>karanveer</td>
            <td>Tab</td>
            <td>30/04/2019 6:02 AM</td>
            <td>30.6759</td>
            <td>76.7406</td> 
  <td>Address not found</td>
  <td>Too Cold</td>
  <td>Awesome</td> 
  <td>bedroom1</td>
            <td><a class="btn dark-blue" href="">ViewProfile</a><a class="btn" href="">Support</a></td>
          </tr>
        </tbody>
          </table>
      <div class="pagination-container">
            <nav>
          <ul class="pagination">
                <li data-page="1" class="active"> <span>1<span class="sr-only">(current)</span></span> </li>
                <li data-page="2"> <span>2<span class="sr-only">(current)</span></span> </li>
                <li data-page="3"> <span>3<span class="sr-only">(current)</span></span> </li>
              </ul>
        </nav>
            <div class="rows_count">Showing 1 to 10 of 27 entries</div>
          </div>
    </div>
      </div>
</div>
  </div>