
body {
    background: url('../../../assets/images/main-bg.png') no-repeat center top !important;
    background-size: cover;
    position: relative;
}
section.login-section {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url('../../../assets/images/main-bg.png') no-repeat center top !important;
}
section.login-section::after {
    position: absolute;
    content: "";
    left: 0px;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 0;
    background: rgba(0, 51, 95, 0.9);
}
.login-form {
    width: 100%;
    max-width: 420px;
    position: relative;
    z-index: 2;
    text-align: center;
    margin: auto;
}
a.logo-img {
    display: inline-block;
    margin: 0px 0px 45px;
}
.login-form form {
    position: relative;
    z-index: 5;
}
.login-form .form-group {
    margin-bottom: 24px;
    position: relative;
}
.form-group i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 15px;
    color: rgb(255, 255, 255);
}
.login-form input.form-control {
    height: 55px;
    color: rgb(255, 255, 255);
    opacity: 1;
    background: rgba(255, 255, 255, 0.3);
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 30px;
    padding: 0px 30px 0px 50px;
}
.login-form input[type="submit"] {
    width: 100%;
    height: 55px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 17px;
    font-family: Roboto, sans-serif;
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: rgba(7, 29, 47, 0.64) 0px 0px 10px;
    background: rgb(15, 74, 125);
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 30px;
    transition: all 0.3s ease-in-out 0s;
}
.login-form input.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 1)
}
.login-form input[type="submit"]:hover {
    letter-spacing: 2px;
}
.login-form input::-webkit-input-placeholder {
    color: #fff;
    opacity: 1
}

.login-form input::-moz-placeholder {
    color: #fff;
    opacity: 1
}

.login-form input:-ms-input-placeholder {
    color: #fff;
    opacity: 1
}

.login-form input::-ms-input-placeholder {
    color: #fff;
    opacity: 1
}

.login-form input::placeholder {
    color: #fff;
    opacity: 1
}
