<nav class="sidebar sidebar-offcanvas" id="sidebar">
			
			
  <ul class="nav">
      <li>
          <div class="user-profile m-t-20">
              <div class="user-pic"><img alt="users" class="rounded-circle img-fluid" src="assets/images/user.jpg"></div>
              <div class="user-content hide-menu m-t-10 dropdown">
                  <h5 class="m-b-10 user-name font-medium">Lorem Ipsum</h5>
              </div>
          </div>
      </li>

      <li class="nav-item">
          <a class="nav-link" href="#">
              <i class="menu-icon fa fa-tachometer" aria-hidden="true"></i>
              <span class="menu-title">Dashboard</span>
          </a>
      </li>

      <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="menu-icon fa fa-user"></i>
              <span class="menu-title">User Admin</span>
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#ui-advanced" aria-expanded="false" aria-controls="ui-advanced">
              <i class="menu-icon fa fa-globe menu-icon"></i>
              <span class="menu-title">Site Admin</span>
          </a>

      </li>
      <li class="nav-item">
          <a class="nav-link collapsed" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <i class="menu-icon fa fa-object-group"></i>
              <span class="menu-title">Copy Rooms and Objects</span>
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link collapsed" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
              <i class="menu-icon fa fa-comment"></i>
              <span class="menu-title">User Communications</span>
              <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="charts">
              <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="#">Broadcast notifications</a></li>
                  <li class="nav-item"> <a class="nav-link" href="#">Manual Documents</a></li>
                  <li class="nav-item"> <a class="nav-link" href="#">Send Documents</a></li>
                  <li class="nav-item"> <a class="nav-link" href="#">Quotes</a></li>
              </ul>
          </div>
      </li>

  </ul>
  <div id="wrapper" class="wrapper"></div>
</nav>