<div class="container">
  <h1>Create Company</h1>
  <!-- <div class="content-wrapper"> -->
    
  <form class="form" >
    <div class="row">
    <div class="col-md-4">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" formControlName="name" class="form-control" required>
    </div>
    </div>

    <div class="col-md-4">
    <div class="form-group">
      <label for="email">Email</label>
      <input  type="text" id="email" formControlName="email" class="form-control">
    </div></div>

    <div class="col-md-4">
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" id="phone"formControlName="phone" class="form-control">
    </div></div>

    <div class="col-md-4">
    <div class="form-group">
        <label for="contactPerson">Contact Person</label>
        <input type="text" id="contactPerson" formControlName="contactPerson" class="form-control">
      </div></div>
    
      <div class="col-md-4">
        <div class="form-group">
            <label for="addressLine1">Address Line1</label>
            <input type="text" id="addressLine1" formControlName="addressLine1" class="form-control">
          </div></div>

          <div class="col-md-4">
          <div class="form-group">
              <label for="addressLine2">Address Line2</label>
              <input type="text" id="addressLine2" formControlName="addressLine2" class="form-control" >
            </div></div>

            <div class="col-md-4">
            <div class="form-group">
                <label for="town">Town</label>
                <input type="text" id="town" formControlName="town" class="form-control">
              </div></div>
              
              
              <div class="col-md-4">
              <div class="form-group">
                  <label for="county">County</label>
                  <input type="text" id="county" formControlName="county" class="form-control">
                </div></div>


                <div class="col-md-4">
                <div class="form-group">
                    <label for="postcode">Postcode</label>
                    <input type="text" id="postcode" formControlName="postcode" class="form-control" >
                  </div></div>

                        <div class="col-md-4">
                          <div class ="form-group">
                            <label for="noOfLicense">Number Of Licenses Per Site(Bubll Master)</label>
                            <input type="text" id="noOfLicense" formControlName="noOfLicense" class="form-control" >
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="form-group">
                              <label for="validFrom">ValidFrom</label>
                              <input type="text" id="validFrom" formControlName="validFrom" class="form-control"  
                           bsDatepicker  />
                            </div></div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ValidTo">ValidTo</label>
                                <input type="text" id="validTo" formControlName="validTo"class="form-control"
                             bsDatepicker />            
                              </div></div>


                              <div class="col-md-4">
                                <div class="form-group">
                                    <label for="status">Status</label>
                                    <select class="form-control" ng-model="selectedName">
                                      <option value="1" selected="selected">Active </option>
                                      <option value="0" selected="selected">InActive</option>                                 
                                     </select>  
                                  </div></div>

                                  <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="support">Support</label>
                                        <select class="form-control" ng-model="selectedName">
                                          <option value="1" selected="selected">Yes</option>
                                          <option value="0" selected="selected">No</option>                                 
                                         </select>  
                                      </div></div>

                                      <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="support">Default Language</label>
                                            <select class="form-control" ng-model="selectedName">                                                           
                                             </select>  
                                          </div></div>

                                          <div class="col-md-4">
                                          <div class="form-group">
                                            <label for="fileupload">Upload</label>
                                            <input type="file" class="form-control" [(ngModel)]="model.fileupload">
                                        </div>
                                      </div>
    
    

                             

           <button type="submit" class="btn btn-success">Submit</button>
                </div>
  </form>
<!-- </div> -->
</div>

